!*.c
!*.java

Procesos/*
!Procesos/*.c

EdoProcesos/*
!EdoProcesos/*.c

socketsC/*
!socketsC/*.c

socketsJava/*
!socketsJava/*.java

socketsJavaHilos/*.class

socketsCriptografia/*.class
socketsCriptografia/*.ser

ProyectoFinal/*.class
ProyectoFinal/*.ser

!Makefile
